<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfl0IfAF0y2VaDSXeOFLW63D85zCuKu-c</string>
	<key>GCM_SENDER_ID</key>
	<string>899102505926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GreenEduMap</string>
	<key>PROJECT_ID</key>
	<string>greenmapedu</string>
	<key>STORAGE_BUCKET</key>
	<string>greenmapedu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899102505926:ios:5a8151354ab252c88b90c7</string>
</dict>
</plist>